.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #0e0e0e;
    overflow: hidden;
  }
  
  .projectHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #0e0e0e;
  }

  .projectGalleryContainer {
    height: 100vh;
    width: 100%;
    background-color: #0e0e0e;
   
}


.projectGalleryFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(14,14,14);
    background: linear-gradient(180deg, rgba(14,14,14,0) 0%, rgba(14,14,14,1) 93%);
    padding: 1rem;
    z-index: 3;
}

.projectCount {
    width: 100%;
    text-align: left;
    color:white;
}

.infoContainer {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeTitle {

    color: white;
    font-size: 3rem;
    margin: 0;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 1rem;
    h1 {
      font-family: 'PlayFairDisplay', sans-serif !important;
    }
  }
  
  


.btnContainer {
    position:absolute;
    bottom: 5%;
    z-index: 3;
 
}

.projectContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   padding:10rem;
    overflow: hidden;
    background-color: #0e0e0e;
}


.homeSubTitle {
    text-align: center;
    width: 100%;
    color:white;
}



.paragraph{
  
    display: flex;

    font-size: 1.5rem;
  
    line-height: 1;
  
    padding: 40px;
  
    max-width: 80vw;
  
    color: white;
  
    flex-wrap: wrap;

    text-align: center;

    height: auto;
    

  
    .word{

 
  
      position: relative;
  
      margin-right: 12px;
  
      margin-top: 12px;
      
      color:white;
  
      .shadow{
  
        position: absolute;
  
        opacity: 20%;
  
      }

      span {
        color: white;
      }
  
    } 
  
  }


.scrollDown {

    font-size: 0.875rem;
    color: white;

}




.projectImages {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    gap: 16px;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top:10rem;
  }
  
  .item {
    position: relative;
    overflow: hidden;

  }
  
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .landscape {
    grid-column: span 2;
    grid-row: span 1;
  }
  
  .portrait {
    grid-column: span 1;
    grid-row: span 2;
  }


.projectNavigationContainer {
    width: 100%;
    height: 50vh;
    display: flex;
    margin-top: 10rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0d0e0e;
    a {
    width: 50%;
    height: 100%;
    }

  }

.videoContainer {
    width: 100%;
    .player {
        width: 100% !important;
        height: 700px !important;
        
    }
}


  .btnToProject {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
    p {
        color:white;
    }
  }

  .btnOverlay {
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #0e0e0e;
    opacity: 0.5;
    transition: 0.5s ease-in-out;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 2;
}

.btnOverlay:hover {
    opacity: 0.3;
}


.btnText {
  color: white;
  font-size: 2rem;
}


.projectFooter {
    height: 2rem;
    margin-right: auto;
}


  @media only screen and (max-width: 500px) {

    .item {
        position: relative;
        overflow: hidden;
    
      }


    .videoContainer {
        width: 100%;
        .player {
            width: 100% !important;
            height: 300px !important;
            
        }
    }

    .homeTitle {
        font-size: 2rem;
    }


    .homeSubTitle {
        font-size: 0.875rem;
    }

    .projectContent {
        width: 100%;
  padding:20px;
    }

    .paragraph {
        font-size: 1rem;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    }

    .word {
        margin-right: 5px !important;
        margin-top: 10px !important;
    }

    .projectNavigationContainer {
        flex-direction: column;
        height: 50vh;
        margin-top: 2rem;
        a {
            width: 100%;
            height: 100%;
        }
        
    }


    .projectImages {
        margin-top: 2rem;
    }

  }


  .emailSender {
    cursor: pointer;
    color: white;
  }

  .btnToSite {
    height: 100px;
    width: 100px;
    border-radius: 50% 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:solid 1px white;
    margin-top: 2rem;
    transition: 0.5s;
    cursor: pointer;
    text-align: center;
    color: white;
    padding:5px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    z-index: 3;
.btnText{
    color: white;
    font-size: 12px;
    margin: 0;
    word-wrap:break-word;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.btnIcon, .btnIconPrevious {
    display: none;
}
.btnIconPrevious {
    transform: rotate(180deg);
}

    &:hover {
        transform: scale(1.2);
        color: #0e0e0e;
        background-color: white;
        .btnText {
            display: none;
        }
        .btnIcon, .btnIconPrevious {
            display: inline-block;
            margin:0;
            color:#0e0e0e;
            font-size: 20px;
            
           
        }
    }
}


