@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.homeBtn {
  position: fixed;
  top:2rem;
  left: 2rem;
  cursor: pointer;
  z-index: 2;
  font-size: 0.875rem;
}


@font-face {
  font-family: 'PlayFairDisplay';

  src: url('/PlayFairDisplay/static/PlayFairDisplay-Medium.ttf');
  src: url('/PlayFairDisplay/static/PlayFairDisplay-Bold.ttf');
  src: url('/PlayFairDisplay/static/PlayFairDisplay-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  }
